<% currently_at t('menu.jobs') %>

<div class="container custom-margin">
  <div class="row">
    <div class="col-1">
      <%= link_to "Назад", "#", onclick: "history.go(-1); return false;", data: { turbolinks: false } %>
    </div>
    <div class="col-11"></div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <div class="profile-picture">
        <%= image_tag("job.png") %>
      </div>
    </div>
    <div class="col-9" style="padding-top: 10px; padding-bottom: 10px;">

      <div class="row">
        <div class="col">
          <h1>
            <%= @job.title %>
          </h1>
        </div>
      </div>

      <i class="bi bi-clock-history" style="margin-right: 5px"> <%= @job.required_exp %> xp</i>

      <i class="bi bi-geo-alt" style="margin-right: 5px"><%= @job.city %></i>

      <% if @job.salary.present? %>
        <i class="bi bi-wallet2" style="margin-right: 5px"><%= @job.salary %> $</i>
      <% end %>
    </div>

        <div class="row">
          <div class="col-1"></div>
          <div class="col-2"></div>

          <div class="col-9 custom-container">

            <p><%= simple_format(@job.body) %></p><br />

          </div>
        </div>

    </div>
  </div>
</div>

