<%= provide :main_menu do %>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= nav_tab 'ruby-offer', root_path, class: 'nav-link' %></li>
          <li><%= nav_tab t('menu.jobs'), jobs_path, class: 'nav-link px-2', current_page: current_page %></li>
          <li><%= nav_tab t('menu.resumes'), resumes_path, class: 'nav-link px-2', current_page: current_page %></li>


          <% if current_user && current_user.role == 'developer' && current_user.resume == false %>
            <li class="nav-item">
              <a class="nav-link px-2'" aria-current="page" href="<%= new_user_resume_path(current_user.id) %>">Разместить резюме</a>
            </li>
          <% end %>

          <% if current_user && current_user.role == 'developer' && current_user.resume == true %>
            <li class="nav-item">
              <a class="nav-link px-2'" aria-current="page" href="<%= edit_user_resume_path(current_user.id) %>"><%= t('menu.edit_resume') %></a>
            </li>
          <% end %>

          <% if current_user && current_user.role == 'employer' && current_user.job.blank? %>
            <li class="nav-item">
              <a class="nav-link px-2'" aria-current="page" href='<%= new_user_job_path(current_user.id) %>'>Разместить вакансию</a>
            </li>
          <% end %>

          <% if current_user && current_user.role == 'employer' && current_user.job.present? %>
            <li class="nav-item">
              <a class="nav-link px-2'" aria-current="page" href="<%= edit_user_job_path(current_user.id) %>"><%= t('menu.edit_resume') %></a>
            </li>
          <% end %>
        </ul>

        <ul class="nav col-12 col-lg-auto mb-2 mb-md-0">
          <li class="dropdown">
            <%= link_to '#', class: 'nav-link px-2 dropdown-toggle text-white',
                        data: {"bs-toggle": 'dropdown'} do %>
              <%= tag.div '', class: "flag #{I18n.locale}-flag mt-1" %>
              <%= t I18n.locale %>
            <% end %>


            <ul class="dropdown-menu">
              <% I18n.available_locales.each do |locale| %>
                <li>
                  <% if I18n.locale == locale %>
                    <%= tag.span t(locale), class: 'dropdown-item' %>
                  <% else %>
                    <%= link_to t(locale), root_path(locale: locale),
                                class: 'dropdown-item' %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>


        <ul class="nav col-12 col-lg-auto mb-2 mb-md-0">
          <% if user_signed_in? %>
            <li class="dropdown">
              <%= link_to '#',
                          class: 'nav-link px-2 dropdown-toggle text-white',
                          data: {"bs-toggle": 'dropdown'} do %>
                <%= current_user.decorate.username_or_email %>
              <% end %>

              <ul class="dropdown-menu">
                <li><%= link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item' %></li>

                <li><hr class="dropdown-divider"></li>

                <li><%= link_to t('menu.log_out'), destroy_user_session_path, data: {method: :delete}, class: 'dropdown-item'%></li>
              </ul>
            </li>
          <% else %>
            <li><%= nav_tab t('menu.sign_up'), new_user_registration_path, class: 'nav-link px-2', current_page: current_page %></li>
            <li><%= nav_tab t('menu.log_in'), new_user_session_path, class: 'nav-link px-2', current_page: current_page %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
<% end %>
