<%= render 'shared/errors', object: @resume %>

<%= form_for :resume, url: user_resume_path, data: {turbo:false}, class: 'resume-form' do |f| %>


  <p>
    <%= f.hidden_field :creator, value: current_user.username %>
  </p>

  <p>
    <%= f.hidden_field :creator_email, value: current_user.email %>
  </p>

  <div class="resume-container">
    <h2><%= t('menu.edit_resume') %></h2>

    <div class="row">
      <div class="col-12">
        <p>
          <%= f.label t('pages.resumes.edit.resume_title') %>
          <%= f.text_field :title, class: 'form-control', placeholder: "Придумайте заголовок / опишите себя как-нибудь" %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>
          <%= f.label t('pages.resumes.edit.name') %>
          <%= f.text_field :name, class: 'form-control', placeholder: "Имя Фамилия (можно просто имя)" %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>
          <%= f.label t('pages.resumes.edit.city') %>
          <%= f.text_field :city, class: 'form-control', placeholder: "Где вы проживаете (не обязательно)" %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>
          <%= f.label t('pages.resumes.edit.experience') %>
          <%= f.number_field :years_of_experience, class: 'form-control', style: 'width: 100px', min: 0, max: 20, placeholder: "0"%>
        </p>
      </div>
    </div>

    <div class="form-row d-flex align-items-center">
      <div class="form-group col-2">
        <p>
          <%= f.label t('pages.resumes.edit.salary') %>
          <%= f.number_field :salary, class: 'form-control', style: 'width: 150px', min: 0, placeholder: "0"%>
        </p>
      </div>

      <div class="form-group col-2">
        <p>
          <%= f.label t('pages.resumes.edit.period') %>
          <%= f.select :salary_frequency, [[I18n.t('activerecord.attributes.resume.period.hourly'), 'hourly'], [I18n.t('activerecord.attributes.resume.period.monthly'), 'monthly']], { selected: 'monthly' }, { class: 'form-control' } %>
        </p>
      </div>
      <div class="form-group col-8"></div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>
          <%= f.label t('pages.resumes.edit.telegram_link') %>
          <%= f.text_field :telegram_link, class: 'form-control', placeholder: "Telegram для связи (не обязательно)" %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>
          <%= f.label t('pages.resumes.edit.github_link') %>
          <%= f.text_field :github_link, class: 'form-control', placeholder: "Ссылка на ваш профиль github"%>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>
          <%= f.label t('pages.resumes.edit.about') %>
          <%= f.text_area :body, class: 'form-control resizable', style: 'min-height:200px', placeholder: "Постарайтесь заинтересовать работодателя" %>
        </p>
      </div>
    </div>

    <!-- Поле для ввода тегов -->
    <div class="field mb-3">
      <%= f.label t('pages.resumes.edit.tags') %>
      <%= f.text_field :all_tags, class: 'form-control' %>
    </div>

    <div class="row">
      <div class="col-12">
        <p>
          <%= f.submit t('pages.resumes.edit.send'), class: 'btn btn-primary'  %>
        </p>
      </div>
    </div>
  </div>

<% end %>


