

<% @resumes.each do |resume| %>
<div class="user-container">
  <div class="row" style="display: flex; align-items: center;">
    <div class="col-2">
      <div class="profile-picture">
        <%= image_tag("avatar.png") %>
      </div>
    </div>

    <div class="col-10">
        <b><%= resume.title %></b><br />

        <i class="bi bi-clock-history"> <%= resume.years_of_experience %> xp</i>

        <i class="bi bi-geo-alt"><%= resume.city %></i>

        <p><%= resume.body %></p><br />

        <p>
          <%= link_to 'Подробнее', users_resume_path(resume), class: 'custom-link' %>
        </p>

    </div>
  </div>
</div>
<% end %>

<%= paginate @resumes, :class => 'pagination' %>