<% @resumes.each do |resume| %>
  <b><%= resume.name %></b>

  <p>
    Разрабатывает на руби: <%= resume.years_of_experience %> лет и
    <%= resume.months_of_experience %> месяцев</p>
  </p><br />

  <p><%= resume.body %></p><br />

  <p>
    <%= link_to 'Подробнее', users_resume_path(resume), class: 'custom-link' %>
  </p>

  <%#= link_to "Destroy", users_resume_path(@resume), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>

  <hr />
<% end %>


