<h2>Разместить новое резюме: </h2>

<%= form_for :resume, url: users_resumes_path, data: {turbo:false} do |f| %>
  <% if @resume && @resume.errors.any? %>
    <p>
      <ul>
        <% @resume.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <p>
    <%= f.hidden_field :creator, value: current_user.username %>
  </p>

  <p>
    <%= f.label :experience, "Укажите ваш опыт:" %>
    <%= f.number_field :experience, class: 'form-control', min: 0, max: 40 %>
  </p>

  <p>
    <%= f.label :resume_link, "Ссылка на ваше резюме:" %>
    <%= f.text_field :resume_link, class: 'form-control'%>
  </p>

  <p>
    <%= f.label :github_link, "GitHub link:" %>
    <%= f.text_field :github_link, class: 'form-control'%>
  </p>

  <p>
    <%= f.label :body, "О себе:"%>
    <%= f.text_area :body, class: 'form-control'%>
  </p>

  <p>
    <%= f.submit  "Отправить", class: 'btn btn-primary'  %>
  </p>
<% end %>