<h2>Разместить новое резюме: </h2>

<%= form_for :resume, url: users_resumes_path, data: {turbo:false} do |f| %>
  <% if @resume && @resume.errors.any? %>
    <p>
      <ul>
        <% @resume.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <p>
    <%= f.hidden_field :creator, value: current_user.username %>
  </p>

  <p>
    <%= f.hidden_field :creator_email, value: current_user.email %>
  </p>

  <p>
    <%= f.label :name, "Как вас зовут?" %>
    <%= f.text_field :name, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :years_of_experience, "Укажите ваш опыт в годах:" %>
    <%= f.number_field :years_of_experience, class: 'form-control', min: 0, max: 40 %>
  </p>

  <p>
    <%= f.label :months_of_experience, "Укажите ваш опыт в месяцах:" %>
    <%= f.number_field :months_of_experience, class: 'form-control', min: 0, max: 12 %>
  </p>

  <p>
    <%= f.label :telegram_link, "Telegram link:" %>
    <%= f.text_field :telegram_link, class: 'form-control'%>
  </p>

  <p>
    <%= f.label :github_link, "GitHub link:" %>
    <%= f.text_field :github_link, class: 'form-control'%>
  </p>

  <p>
    <%= f.label :body, "О себе:"%>
    <%= f.text_area :body, class: 'form-control', style: 'height: 200px' %>
  </p>

  <p>
    <%= f.submit  "Отправить", class: 'btn btn-primary'  %>
  </p>
<% end %>