<% currently_at t('menu.resumes') %>
<div class="container custom-margin">
  <div class="row">
    <div class="col-1">
      <%= link_to t('pages.resumes.show.back'), "#", onclick: "history.go(-1); return false;", data: { turbolinks: false } %>
    </div>
    <div class="col-11"></div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <div class="profile-picture">
        <%= image_tag("avatar.png") %>
      </div>
    </div>
    <div class="col-9" style="padding-top: 10px; padding-bottom: 10px;">
      <div class="row">
        <div class="col">
          <h1><%= @resume.name %></h1>
        </div>
      </div>

      <b><%= @resume.title %></b><br />

      <i class="bi bi-clock-history" style="margin-right: 5px"> <%= @resume.years_of_experience %> xp</i>

      <i class="bi bi-geo-alt" style="margin-right: 5px"><%= @resume.city %></i>

      <% if @resume.salary.present? %>
        <i class="bi bi-wallet2" style="margin-right: 5px"><%= @resume.salary %> ₽/<%= @resume.salary_frequency %></i>
      <% end %>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-1"></div>

    <div class="col-2">
      <a href="<%= @resume.telegram_link %>" target="_blank">
        <i class="bi bi-telegram"></i>Telegram
      </a><br />

      <a href="<%= @resume.github_link %>" target="_blank">
        <i class="bi bi-github black-icon"></i>GitHub
      </a><br />
    </div>

    <div class="col-9 custom-container">

      <p><%= simple_format(@resume.body) %></p><br />

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9 mb-2">
      <b>Навыки:</b>
    </div>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
      <%= raw @resume.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'badge bg-primary' }.join(' ') %>
    </div>
  </div>
</div>





